@import url("https://fonts.googleapis.com/css2?family=Griffy&family=Roboto:wght@300;400;500;700;900&display=swap");

.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 75.42906217794572,280.1346616283064 150.85812435589145,260.26932325661284 223,285 C 295.14187564410855,309.73067674338716 363.9965647543801,379.05736860185505 438,365 C 512.0034352456199,350.94263139814495 591.1556166265888,253.501202335967 649,244 C 706.8443833734112,234.498797664033 743.3809687392649,312.93782205427686 802,356 C 860.6190312607351,399.06217794572314 941.3205084163517,406.74750944692545 1024,364 C 1106.6794915836483,321.25249055307455 1191.336997595328,228.0721401580213 1261,209 C 1330.663002404672,189.9278598419787 1385.3315012023359,244.96392992098936 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
  25% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 66.944005496393,297.4908965991068 133.888010992786,294.98179319821367 209,275 C 284.111989007214,255.01820680178633 367.391961525249,217.56372380625214 426,243 C 484.608038474751,268.43627619374786 518.5441429062179,356.76331157677777 581,367 C 643.4558570937821,377.23668842322223 734.4314668498798,309.3830298866369 813,285 C 891.5685331501202,260.6169701133631 957.7299896942629,279.70456887667467 1025,273 C 1092.270010305737,266.29543112332533 1160.6485743730677,233.79869460666438 1230,234 C 1299.3514256269323,234.20130539333562 1369.6757128134661,267.1006526966678 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
  50% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 63.29714874613535,247.95328065956716 126.5942974922707,195.90656131913434 197,195 C 267.4057025077293,194.09343868086566 344.91995877705256,244.3270353830299 416,283 C 487.08004122294744,321.6729646169701 551.7258673995191,348.7852971487461 612,376 C 672.2741326004809,403.2147028512539 728.1765716248711,430.53177602198565 795,395 C 861.8234283751289,359.46822397801435 939.5678461009963,261.0875987633115 1023,226 C 1106.4321538990037,190.91240123668848 1195.552043971144,219.11782892476816 1266,242 C 1336.447956028856,264.88217107523184 1388.223978014428,282.4410855376159 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
  75% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 58.38886980419099,320.25420817588457 116.77773960838198,340.50841635176914 189,327 C 261.222260391618,313.49158364823086 347.27791137066305,266.220542768808 419,284 C 490.72208862933695,301.779457231192 548.110614908966,384.60941257299896 612,375 C 675.889385091034,365.39058742700104 746.279628993473,263.34180693919615 821,246 C 895.720371006527,228.65819306080385 974.7708691171417,296.0233596702164 1034,328 C 1093.2291308828583,359.9766403297836 1132.6368945379595,356.5647543799381 1197,346 C 1261.3631054620405,335.4352456200619 1350.6815527310202,317.71762281003095 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
  100% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 75.42906217794572,280.1346616283064 150.85812435589145,260.26932325661284 223,285 C 295.14187564410855,309.73067674338716 363.9965647543801,379.05736860185505 438,365 C 512.0034352456199,350.94263139814495 591.1556166265888,253.501202335967 649,244 C 706.8443833734112,234.498797664033 743.3809687392649,312.93782205427686 802,356 C 860.6190312607351,399.06217794572314 941.3205084163517,406.74750944692545 1024,364 C 1106.6794915836483,321.25249055307455 1191.336997595328,228.0721401580213 1261,209 C 1330.663002404672,189.9278598419787 1385.3315012023359,244.96392992098936 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
}

.text-about {
  color: #877419;
  width: 60%;
  margin: auto;
  top: 50%;
  padding-top: 3rem;
  font-family: "Roboto", "sans serif";
}
