.clock {
  display: flex;
  justify-content: center;
}

/* clock css */
.clock-border {
  border: 2rem solid #d8d8d8;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

.clock-digits {
  display: flex;
  border-radius: 50%;
  width: 16rem;
  height: 16rem;
  border: 1px solid d8d8d8;
  margin: 0rem;
}

.circle-fill {
  position: absolute;
  left: 39%;
}

.clock-digits-fill {
  display: flex;
  border-radius: 50%;
  width: 16rem;
  height: 16rem;
  border: 1px solid 9F95EE;
  margin: 0rem;
}

.exp {
  margin-top: 24%;
}
